.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 93px 15px;

  background-color: rgba(0, 0, 0, 0.4);

  overflow-y: scroll;

  opacity: 1;
  visibility: visible;
  transition: opacity 250ms $bezier-timing, visibility 250ms $bezier-timing;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop__modal {
  padding: 40px;
  min-height: 581px;
  position: relative;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    width: 450px;
  }

  @media screen and (min-width: $tablet) and (max-width: calc(#{$desktop} - 1px)) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms $bezier-timing;
  }

  @media screen and (min-width: $desktop) {
    width: 528px;
  }

  border-radius: 4px;
  background-color: $bg-color-white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $bg-color-white;
  cursor: pointer;
}

.close-button__icon {
  width: 11px;
  height: 11px;
  fill: #000;

  transition: fill 250ms $bezier-timing;

  .modal__close-button:hover & {
    fill: $accent-main-color;
  }
}
