.page-header__contacts {
  display: block;

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.contacts__item {
  @media screen and (min-width: $tablet) and (max-width: calc(#{$desktop} - 1px)) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: $desktop) {
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  @include base-font(12px, 500, 14px);
  color: $secondary-text-color;

  @media screen and (min-width: $desktop) {
    @include base-font(14px, 500, 16px);
    color: $secondary-text-color;
  }

  transition: color 250ms $bezier-timing;

  &:hover,
  &:focus {
    color: $accent-main-color;
  }
}

.contacts__icon {
  width: 14px;
  height: 14px;

  @media screen and (min-width: $desktop) {
    width: 16px;
    height: 16px;
  }

  margin-right: 10px;
  fill: $secondary-text-color;

  transition: fill 250ms $bezier-timing;

  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: $accent-main-color;
  }
}
