$main-text-color: #212121;
$accent-main-color: #2196f3;
$accent-secondary-color: #188ce8;
$secondary-text-color: #757575;
$bg-color-white: #ffffff;
$socials-icon-color: #afb1b8;
$bg-footer: #2f303a;

// Cubic-bezier
$bezier-timing: cubic-bezier(0.4, 0, 0.2, 1);

// Fonts
$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
