.page-footer__join {
  @media screen and (max-width: calc(#{$tablet} - 1px)) {
    margin-bottom: 60px;
  }
}

.join__title {
  display: block;

  @include base-font(14px, 700, 16px, 0.03em);
  text-transform: uppercase;

  color: $bg-color-white;
  margin-top: 0;
  margin-bottom: 20px;
}

// Socials links modifier
.socials-list__link--bg-black {
  background-color: rgba(255, 255, 255, 0.1);
}

.socials-list__icon--white {
  fill: $bg-color-white;
}
