.page-footer__contacts {
  @media screen and (max-width: $tablet) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 84px;
    margin-bottom: 0px;
  }
}

.page-footer__address {
  @include base-font(14px, 400, 24px, 0.03em);
}

.address__text {
  margin-top: 0;
  margin-bottom: 9px;

  color: $bg-color-white;
}

.address__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: $accent-main-color;
  }

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}
