.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $bg-footer;
  text-align: center;

  @media screen and (min-width: $desktop) {
    &--flex {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      white-space: nowrap;
    }
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 20px;
}

.page-footer__container-tablet {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;

    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    text-align: left;
    margin-bottom: 0px;
  }
}
